@model List<SalesWeb.ViewModels.ProductViewModels.GetProductViewModel>
@{
    Layout = "_Layout";
}
<h2>PRODUCTS</h2>
<hr/>
<p>
    <a asp-action="Post" class="btn btn-default">
        <button>CREATE NEW PRODUCT</button>
    </a>
</p>
<hr/>
<table class="table table-striped table-hover">
    <thead>
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model[0].ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Price)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Put" asp-route-id="@item.ProductId">EDIT</a>
                <a asp-action="GetById" asp-route-id="@item.ProductId">DETAILS</a>
                <a asp-action="Delete" asp-route-id="@item.ProductId">DELETE</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}