@model List<SalesWeb.ViewModels.SaleViewModels.GetSaleViewModel> 
@{
    Layout = "_Layout";
}
<h2>SALE</h2>
<hr/>
<p>
    <a asp-action="Post" class="btn btn-default">
        <button>CREATE NEW SALE</button>
    </a>
</p>
<hr/>
<table class="table table-striped table-hover">
    <thead>
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model[0].SaleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Seller.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].TotalAmount)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name.CompleteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.Name.CompleteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                <a asp-action="Put" asp-route-id="@item.SaleId">EDIT</a>
                <a asp-action="GetById" asp-route-id="@item.SaleId">DETAILS</a>
                <a asp-action="Delete" asp-route-id="@item.SaleId">DELETE</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}