@model SalesWeb.ViewModels.CustomerViewModels.GetCustomerViewModel
@{
    Layout = "_Layout";
}
<h1>CUSTOMER</h1>
<hr/>
<h4>ARE YOU SURE YOU WANT TO DELETE THIS?</h4>
<hr/>
<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name.CompleteName)
        </dd>        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentIdentificationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentIdentificationNumber.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerId"/>
        <input type="submit" value="DELETE" class="btn btn-danger"/> |
        <a asp-action="Index">BACK TO LIST</a>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}