@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<SalesWeb.ViewModels.CustomerViewModels.GetCustomerViewModel>
@{
    Layout = "_Layout";
}
<h2>CUSTOMERS</h2>
<hr/>
<p>
    <a asp-action="Post" class="btn btn-default">
        <button>CREATE NEW CUSTOMERS</button>
    </a>
</p>
<hr/>
<table class="table table-striped table-hover">
    <thead>
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model[0].CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].DocumentIdentificationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].BirthDate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name.CompleteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentIdentificationNumber.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                <a asp-action="Put" asp-route-id="@item.CustomerId">EDIT</a>
                <a asp-action="GetById" asp-route-id="@item.CustomerId">DETAILS</a>
                <a asp-action="Delete" asp-route-id="@item.CustomerId">DELETE</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}